<div class="container">
    <table class="table table-bordered table-sm" style="text-align: center;">
    <thead class="thead-dark">
    <tr>
    <th>Product</th>
    <th>Type</th>
    <th>Closing Stock</th>
    </tr>
    </thead>
    
    <tr >
    <td rowspan="9">Jhadoo</td>
    <td class="table-active">Royal</td>
    <td class="table-active">240pcs</td> 
    </tr>
    <tr>
    <td>Bheem</td>
    <td>120pcs</td>
    </tr>
    <tr>
    <td class="table-active">Smart</td>
    <td class="table-active">120pcs</td>
    </tr>
    <tr>
    <td>Steel Handle</td>
    <td>120pcs</td>
    </tr>
    <tr>
    <td class="table-active">Super Soft</td>
    <td class="table-active">60pcs</td>
    </tr>
    <tr>
    <td>Five Fingers</td>
    <td>60pcs</td>
    
    </tr>
    <tr>
    <td class="table-active">Gold 1</td>
    <td class="table-active">240pcs</td>
    </tr>
    <tr>
    <td>Gold 2</td>
    <td>60pcs</td>
    </tr>
    <tr>
    <td class="table-active">Gold 3</td>
    <td class="table-active">60pcs</td>
    </tr>
    <tr>
    <td rowspan="3">Mops</td>
    <td>Round</td>
    <td>60pcs</td>
    
    </tr>
    <tr>
    <td class="table-active">Flat mop</td>
    <td class="table-active">60pcs</td>
    </tr>
    <tr>
    <td>Supreme clip</td>
    <td></td>
    </tr>
    <tr>
    <td rowspan="9">Floor Cleaner</td>
    <td class="table-active">Rose premium 1000ml</td>
    <td class="table-active"></td>
    </tr>
    <tr>
    <td>Rose 1 ltr</td>
    <td></td>
    
    </tr>
    <tr>
    <td class="table-active">Garden 1000ml</td>
    <td class="table-active"></td>
    
    </tr>
    <tr>
    <td>Jasmine 1 ltr premium</td>
    <td></td>
    <tr>
    <td class="table-active">Jasmine herbal 1 ltr</td>
    <td class="table-active"></td>
    </tr>
    <tr>
    <td>Jasmine premium 500ml</td>
    <td></td>
    </tr>
    <tr>
    <td class="table-active">Lime premium 1000ml</td>
    <td class="table-active"></td>
    </tr>
    <tr>
    <td>Lovender premium 1000ml</td>
    <td></td>
    </tr>
    <tr>
    <td class="table-active">Lovender premium 1 ltr</td>
    <td class="table-active"></td>
    </tr>
    <tr>
    <td rowspan="3">Acid</td>
    <td>Acid 1200ml</td>
    <td></td>
    </tr>
    <tr>
    <td class="table-active">Acid green 600ml</td>
    <td class="table-active"></td>
    </tr>
    <tr>
    <td>Acid 600ml</td>
    <td>150pcs</td>
    </tr>
    <tr>
    <td rowspan="2">Wiper</td>
    <td class="table-active">Wiper <small></small></td>
    <td class="table-active">30pcs</td>
    </tr>
    <tr>
    <td>wiper big</td>
    <td>60pcs</td>
    </tr>
    <tr>
    <td rowspan="2">Bleaching Powder</td>
    <td class="table-active">Bleaching Powder 200gm</td>
    <td class="table-active">150pcs</td>
    </tr>
    <tr>
    <td>Bleaching Powder 500gm</td>
    <td>60pcs</td>
    </tr>
    <tr>
    <td rowspan="2">Scrubber</td>
    <td class="table-active">Scrub pad big</td>
    <td class="table-active">30pcs</td>
    </tr>
    <tr>
    <td>Steel Scrub</td>
    <td>60pcs</td>
    </tr>
    </table>
    </div> 
    
    
