<div class= "container">
<div class="card" style="width: 30%;background-color:rgb(255, 255, 255);border-radius: 5%;">
  <div class="card-body" style="border-radius: 30%;">
  <h1 class="card-title" style="text-align: center;color: black;">Invoice</h1>

  <button type="button" class="btn btn-dark" style="margin:250px 40px 0px 50px;"routerLink='/invoice' >payment success</button>
  <button type="button" class="btn btn-dark" style="margin:250px 5px 0px 180px;">payment not success</button>
  
  
  </div>
  </div>
</div>
  

<!-- 
<div class="container">
<table class="table table-bordered" style="margin-left:5%;margin-left:5%;widows: 80%;">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width: 5%;text-align: center;">S.No</th>
        <th scope="col" style="text-align: center;">Name</th>
        <th scope="col" style="text-align: center;">closing stock</th>
        <th scope="col" style="text-align: center;">booking</th>
        <th scope="col" style="text-align: center;">pending payment</th>
        <th scope="col" style="text-align: center;">catalog</th>
        <th scope="col" style="text-align: center;">photo upload</th>
      </tr>
    </thead>
    
      <tr  style="font-size: 15px;" *ngFor='let item of shopNames'>
        <th  scope="row">{{item.sl}} </th>
        <td class="">{{item.shopname}} </td>
        <td >{{item.closingstock}} </td>
         <td class="">{{item.booking}} </td>
        <td >{{item.paddingpayment}} </td>
        <td class="">{{item.catalog}} </td>
        <td >{{item.photoupload}} </td>
        
        
      </tr>
  
    
  </table>
</div>  -->